.form input {
  height: 54px;
  width: 39.875rem;

  border-radius: 8px;
  border: 0 none;
  padding: 16px;

  color: (var(--gray-200));
  background: var(--gray-500);
}

.form button {
  height: 52px;
  width: 5.625rem;  

  margin-left: 0.5rem;
  border-radius: 8px;
  border: 0 none;

  background: var(--blue-500);
  color: var(--white);

  cursor: pointer;
  transition: background-color 0.1s;
}

.form button:hover {
  background: var(--blue-300);
}